/* Фиксация футера */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    margin-top: auto;
    background-color: #f5f5f5;
    padding: 20px 0;
} 